
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
	--theme-primary-bg:#002366;
	--theme-secondary-bg:#FFD700;
	--white:#fff;
	--black:#000;
	--font-12:12px;
	--font-14:14px;
	--font-16:16px;
	--heading-title-18:18px;
	--heading-title-20:20px;
	--product-text-color:#999999;
	--product-strike-color:#ff0000;
	--border-radius-20: 20px;
	--text-align-center:center;
	--font-weight-600:600;
	--font-weight-800:800;
	--text-decoration-none:none;
	--text-decoration-underline:underline;
	--border-radius-0:0px;
}

*{
	margin:0;
	padding:0;
}
body{
	margin:0;
	padding:0;
	font-family: "Roboto", sans-serif;
	background: #f8f8f8;
}

a{
	text-decoration: none;
}

.pt-20{
	padding-top:20px!important;
}

.pb-20{
	padding-bottom:20px!important;
}

/*breadcrumb*/
.breadcrumb-area {
	padding: 5px 0;
	border-bottom: 1px solid #e9e9e9;
	background-color: #fafafa;
}
.breadcrumb {
	background-color: transparent;
	padding: 5px 0;
	margin-bottom: 0;
}
.breadcrumb li {
	position: relative;
	margin-right: 5px;
}
.breadcrumb li a {
	text-transform: capitalize !important;
	color: #888;
	padding-right: 12px;
	font-size: 12px;
}
.breadcrumb li:not(:last-of-type)::after {
	position: absolute;
	right: 0;
	content: ">";
	color: #777;
	opacity: 1.5;
	bottom: 0;
	font-size: 12px;
}
/*breadcrumb*/

.radius-0{
	border-radius: 0!important;
}

.height-auto{
	height: auto!important;
}

.heading-title1 h2 {
	/* font-size: 20px; */
	text-transform: capitalize;
	font-weight: 600;
	border-bottom: 1px solid rgba(0,0,0,.3);
	letter-spacing: 1px;
	padding: 0px 0px 5px 0px;
	font-size: 1.125rem !important;
	color:#ff6f00;
}



/*header top*/
#header-top{
	background:var(--theme-primary-bg);
	height: 40px;
	padding:5px 0px 0px 0px;
}

.header-top-left a {
	color: var(--white);
	font-size:var(--font-14);
}
.header-top-left img{
	height: 30px;
}
.header-top-right {
	position: absolute;
	right: 0;
	top: 8px;
}


.header-top-right i{
	font-size: var(--font-12);
}

/*header top*/

/*header bottom*/
#header-bottom-area {
	height: 85px;
	line-height: 85px;
	position: relative;
	background: #f8f8f8;
	border-bottom: 1px solid #e9e9e9;
	/* padding: 5px 0; */
}

.logo img{
	height: 60px;
}
.search{
	position: relative;
}
.search input{
	margin-top:25px;
	display: block;
	width: 100%;
	padding: 0.5rem 0.75rem;
	font-size: 1rem;
	line-height: 1.25;
	color: #55595c;
	background-color: var(--white);
	background-image: none;
	background-clip: padding-box;
	border: 1px solid var(--theme-primary-bg);
	border-radius:var(--border-radius-0);
	
}
.newhome-search i {
	background: var(--theme-primary-bg);
	cursor: pointer;
	margin-left: -25px;
	line-height: .9rem;
	padding: 11px 15px;
	border: none;
	z-index: 100;
	position: absolute;
	top: calc(6% - 7px);
	right: 1px;
	color: #fff;
}

/*header bottom*/

/*banner*/
#banner-area img{
  width:100%;
   height: 500px; /* পিসির জন্য মাঝারি আকার */
    object-fit: cover; /* ইমেজ যাতে কেটে না যায় */
}
/*banner*/

/*subscripbe area*/
#subscripbe-area {
	background: #e6f2ff;
	padding: 15px 0px 5px 0px;
}
.subscribe-content{
	color:#fff;
}
.subscribe-content h4 {
	font-size: 20px;
	font-weight: 600;
	color:#333333;
}
.subscribe-content p{
	font-size: 16px;
	color:#333333;
}
.subscribe-form {
	margin-top: 25px;
	padding: 0;
	margin-left: 78px;
}
.subscribe-form input {
	width: 230px;
	float: left;
	height: 40px;
	border-radius: 20px;
	border: 1px solid #333333;
}

button.subscribe_btn {
	/* border: 1px solid rgba(255,255,255,1); */
	height: 40px;
	margin-left: 10px;
	width: 130px;
	border-radius: 20px;
	color: #fff !important;
	background: #002366;
	font-size: 16px;
	font-weight: 600;
}

button.subscribe_btn:hover {
	background: #ff6f00;
}

/*subscripbe area*/

/*footer area*/
#footer-area{
	background: #002366;
	padding: 30px 0px 20px 0px;
}
.footer-title{
	position: relative;
	margin-bottom:20px;
}

.footer-title::before {
	position: absolute;
	content: '';
	border-bottom: 1px solid #ff6f00;
	height: 2px;
	width: 98%;
	top: 27px;
}

.footer-title::after {
	position: absolute;
	content: '';
	border-bottom: 1px solid #fff;
	height: 2px;
	width: 40%;
	top: 27px;
}

.footer-title h4 {
	text-transform: uppercase;
	color: #fff;
	font-size: 18px;
	font-weight: 600;
/*	-webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #FF7518;*/
}
.footer-about-content p{
	color:#fff;
	font-size: 14px;
}

.social-icon ul {
	list-style: none;
	/*margin-left: -35px;*/
	margin:0;
	padding:0;
}
.social-icon ul li{
	display: inline-block;
	padding:7px 5px;
}

.social-icon ul li a {
	width: 40px;
	height: 40PX;
	display: block;
	text-align: center;
	/* margin-right: 15PX; */
	border-radius: 50%;
	padding: 6px;
	box-sizing: border-box;
	text-decoration: none;
	box-shadow: 0 10px 15px rgba(0,0,0,0.3);
	background: linear-gradient(0deg, #ddd, #fff);
	transition: .5s;
}

.social-icon ul li a i {
	widht: 100%;
	height: 100%;
	display: block;
	background: linear-gradient(0deg, #fff, #ddd);
	border-radius: 50%;
	line-height: calc(40px - 12px);
	font-size: 14px;
	color: #ff6f00;
	transition: .5s;
}

.footer-about-list ul{
   list-style: none;
   margin:0;
	padding:0;
}

.footer-about-list ul li a i{
   margin-right: 3px;
}
.footer-about-list ul li a{
   text-decoration: none;
   color:#fff;
   font-size: 14px;
}

.footer-about-list ul li a:hover{
   color:#ff6f00;
}

.footer-icon i {
	width: 30px;
	height: 30px;
	border: 1px solid rgba(255,255,255,1);
	text-align: center;
	line-height: 27px;
	margin: 0px 0px 10px 0px;
	color: #fff;
	border-radius: 2px;
	font-size: 15px;
}

.list-box-content p{
	color:#fff;
	font-size: 14px
}
/*footer area*/

/*copyright area*/
#copyright-area{
	background: #002366;
	height: 40px;
}

.copyright {
	position: relative;
	color: #fff;
	border-top: 1px solid rgba(255,255,255,.3);
}
.copyright p{
	font-size: 14px;
}

.left-text{
	position: absolute;
	left: 0;
	top: 8px;
}

.right-text {
	position: absolute;
	right: 0;
	top: 8px;
}
/*copyright area*/


/*subscribe area*/

/*subscribe area*/


#brudcrumb-area {
	/* background: red; */
	margin: 0;
	padding: 0;
	margin-top: 20px;
}

.heading-title h4 {
    border-bottom: 2px solid #0056b3;
    font-family: "Playfair Display", serif;
    font-weight: 600;
}


/*  nomi banner area*/
      #nomi-banner-area{
        background-color:#fff;
        padding:10px 0px;
      }
        #nomi-banner-area.carousel img {
         height: 355px;        
         height: 100%!important;        
       }

        .right-image img{
            width: 100%;
            padding-bottom: 5px;
            height: 180px;
        }
      /*  nomi banner area*/

/* product box*/
.nomi, .nomi-category{
	background: #fff;
	padding: 20px;
	filter: drop-shadow(3px 4px 6px #eee);
	margin:10px 0px;
}

#nomi-area .product-box {
   border: 1px solid #ddd; 
   border-radius: 5px; 
   padding: 15px; 
   text-align: center; 
   transition: transform 0.3s, box-shadow 0.3s;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
   background-color: #fff; 
   margin-bottom: 10px;
  }
  #nomi-area .product-box:hover {
      transform: translateY(-5px); 
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
  }
  #nomi-area .product-name {
    color: #002366;
    font-weight: bold;
    font-size: 14px;
  }
  #nomi-area .discount-price {
      color: #ff6f00; 
      font-weight: bold; 
  }
  #nomi-area .original-price {
      text-decoration: line-through; 
      color: #6c757d; 
  }
  #nomi-area .product-image {
      height: 200px; 
      object-fit: cover; 
      border-radius: 10px; 
  }
  #nomi-area .nomi-btn {
      background-color: #002366; 
      border-color: #002366;
      color:#fff;
      width:100%;
  }
  #nomi-area .nomi-btn:hover {
      background-color: #ff6f00;
      border-color: #ff6f00;
      color:#fff;
  }
/* product box*/


/*category product*/
.nomi-category .product-box {
	border: 1px solid #ddd; 
	border-radius: 5px; 
	padding: 15px; 
	text-align: center; 
	transition: transform 0.3s, box-shadow 0.3s;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
	background-color: #fff; 
	margin-bottom: 10px;
  }	
.nomi-category .product-box:hover {
   transform: translateY(-5px); 
   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}
.nomi-category .product-name {
 color: #002366;
 font-weight: bold;
 font-size: 14px;
}
.nomi-category .discount-price {
   color: #ff6f00; 
   font-weight: bold; 
}
.nomi-category .original-price {
   text-decoration: line-through; 
   color: #6c757d; 
}
.nomi-category .product-image {
   height: 200px; 
   object-fit: cover; 
   border-radius: 10px; 
}
.nomi-category .nomi-btn {
   background-color: #002366; 
   border-color: #002366;
   color:#fff;
   width:100%;
}
.nomi-category .nomi-btn:hover {
   background-color: #ff6f00;
   border-color: #ff6f00;
   color:#fff;
}
.cat-left-image{
  max-width: 100%;
  height: 350px;
}
/*category product*/

.nomi-banner-image-1{
	width:100%!important;
	height: 150px!important;
}

.nomi-banner-image-2 {
  height: 250px !important;
  width: 100%;
}


/*brands*/
  .flash-sale-title {
    background-color: #fff;
    color: #000;
    font-weight: bold;
    padding: 10px 0px;
    display: inline-block;
    border-bottom: 1px solid rgba(0,0,0,.3);
    width: 100%;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
}
    .brands{
    min-height: 200px;
    background: #fff;
    margin: 20px auto;
    border: 1px solid #e2e5ec !important;
    }
    .brand-card {
      text-align: center;
      padding: 20px;
      border: 1px solid #eee;
      background-color: #fff;
/*      transition: background-color 0.3s ease;*/
      transition: all 0.5s ease;
    }

    .brand-card:hover {
      background-color: #f8f9fa;
      box-shadow: 0px 20px 40px rgb(0 0 0 / 16%) !important;
    }

    .brand-logo {
      max-width: 100px;
      height: auto;
      margin-bottom: 10px;
    }

    .brand-name {
      font-size: 16px;
      font-weight: 600;
      color: #333;
    }

    .text-lg-left {
       text-align: left !important;
    }
    .text-lg-left h1{
      color:#292933;
      font-weight: 700;
      font-size: 22px!important;
    }

    .content-description{
    	background-color: #fff;
/*    	border:1px solid rgba(0,0,0,.1);*/
    	/*padding:20px;
    	margin:20px 0px;*/
    }
    .content-description p{
    	font-size: 14px;
    }
/*brands*/